<div id="projects-container">
  <h2>Work</h2>
  <h3 class="project-number">
    {{ projects.attributes.id}}/{{projects.attributes.totalProjects}}
  </h3>
  <div class="project-block">
    <div id="project-title-background">
      <h3>{{ projects.attributes.title }}</h3>
    </div>
    <div class="project-buttons">
      <a href="{{projects.attributes.url}}" target="_blank">
        <div class="visit-button">
        VISIT
        </div>
      </a>
    </div>
    <img src="{{projects.attributes.image}}" alt="" />
  </div>
  <button id="next">[n]</button>
  <button id="previous">[p]</button>

  <p class="svg">
    scroll
    <svg version="1.1" id="svg-arrow-down" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 22 24" style="enable-background:new 0 0 22 24;" xml:space="preserve">
      <polygon style="fill:#000000;" points="20.58,11.584 12.004,20.158 12.004,0 9.996,0 9.996,20.158 1.42,11.584 0,13.004 11,24
            22,13.004 "></polygon>
    </svg>
  </p>

  <div class="project-details">
    <h4>Date</h4>
    <p>
      {{ projects.attributes.projectDescription.date }}
    </p>

    <h4>Concept</h4>
    {{#each projects.attributes.projectDescription.concept}}
        <p>
          {{this}}
        </p>
    {{/each}}

    {{#if projects.attributes.projectDescription.images}}
      <img src="{{projects.attributes.projectDescription.images.0.url}}" alt="" />
    {{/if}}

    <h4>Technology</h4>
    {{#each projects.attributes.projectDescription.technology}}
        <p>
          {{this}}
        </p>
    {{/each}}

    {{#if projects.attributes.projectDescription.images}}
      {{#if projects.attributes.projectDescription.images.1.url }}
        <img src="{{projects.attributes.projectDescription.images.1.url}}" alt="" />
      {{/if}}
    {{/if}}

    {{#if projects.attributes.projectDescription.video }}
      <iframe width="560" height="315" src="{{projects.attributes.projectDescription.video}}" frameborder="0" allowfullscreen></iframe>
    {{/if}}

    <p>
      <a href="{{projects.attributes.projectDescription.link}}" class="project-link" target="_blank">Link</a>
    </p>
  </div>
</div>
